# Normalise to LF in the repository; Git checks out native line endings.
* text=auto eol=lf

*.png binary
*.ico binary
*.node binary

# NSIS shows the installer licence with Windows line endings.
resources/eula.txt text eol=crlf
